@import 'src/styles/variables.scss';

.auth-wrapper {
	display: flex;
	flex-direction: row;

	.auth-image,
	.auth-layout {
		display: flex;
		flex: 1;
		width: 50vw;
		height: 100vh;
		position: absolute;
		transition: all 225ms ease-in-out;
		top: 0;
	}

	.auth-layout {
		left: 50vw;
		border-radius: 40px;
	}

	.auth-image {	
		img {
			width: 100%;
			margin-top: auto;
		}
	}
}
