<div class="login-container">
    <h1 i18n>
        Welcome!
    </h1>
    <span i18n>
        Sign in or register to access to information about the search for missing persons
    </span>
    <form [formGroup]="form" 
          (ngSubmit)="onSubmit()" 
          class="editor-form">
        <mat-form-field>
            <mat-label i18n>
                Email
            </mat-label>
            <input type="email" 
                   matInput 
                   placeholder="Email"
                   i18n-placeholder
                   formControlName="email">
            <mat-error i18n>
                Please provide a valid email address
            </mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-label i18n>
                Password
            </mat-label>
            <input type="password" 
                   matInput 
                   placeholder="Password" 
                   i18n-placeholder
                   formControlName="password"
                   [type]="passwordVisibility ? 'text' : 'password'">
            <!-- <mat-icon matSuffix 
                      (click)="passwordVisibility = !passwordVisibility">
                {{passwordVisibility ? 'visibility' : 'visibility_off'}}
            </mat-icon> -->
            <mat-error i18n>
                Please provide a valid password
            </mat-error>
        </mat-form-field>
        <div>
            <finder-toggle [(enabled)]="form.value.rememberMe"
                        label="Remember me"
                        i18n-label>
            </finder-toggle>
            <p class="forgot-password" 
               (click)="forgotPassword()"
               i18n>
                Forgot password?
            </p>
        </div>
        <button type="submit" 
                mat-stroked-button 
                color="primary" 
                class="btn"
                i18n>
            Sign In
        </button>
    </form>
    <span class="singup-text"
          i18n>
        I don't have an account.
        <a [routerLink]="['/auth/sign-up']">
            Sign up
        </a>
    </span>
    <div class="divider"></div>
    <div class="countinue-with-diia">
        <span i18n>
            Continue with
        </span>
        <img src="https://id.gov.ua/design/images/diia_logo.svg" 
             alt="diia-logo"
             (click)="loginWithDiia()">
    </div>
</div>
