<div class="confirm-email-container">
    @if (!success && !error && loading) {
        <div class="loading-container">
            <mat-progress-spinner [mode]="'indeterminate'"></mat-progress-spinner>
            <h1 class="loading-text"
                i18n>
                Confirming email...
            </h1>
        </div>
    }
    @if (success) {
        <h1 i18n>
            Success
        </h1>
        <span i18n>
            Your email has been confirmed. <br />
            You will be redirected to the login page in a few seconds.
        </span>
    }
    @if (error) {
        <h1 i18n>
            Oops, something went wrong.
        </h1>
        <span i18n>
            Please try again later or contact support.
        </span>
    }
</div>
