h1 {
	text-align: center !important;
	font-family: Fixel Display !important;
	font-weight: 700 !important;
	font-size: 24px !important;
	letter-spacing: unset !important;
	text-align: left !important;
	line-height: 33px !important;
	padding-left: 16px !important;
	padding-bottom: 0 !important;
	margin-bottom: 0 !important;
	padding-top: 0 !important;
	margin-top: 0 !important;
}

.close-icon {
	position: absolute;
	top: 18px;
	right: 18px;
	font-weight: 700;
	font-size: 24px;
	line-height: 33px;
	cursor: pointer;
	transition: all 225ms ease-in-out;

	&:hover {
		color: #a9d3ff;
	}
}


.editor-form {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.invite-btn {
	width: calc(100% - 32px);
}

.content {
	padding-bottom: 1px;
}