<h1 mat-dialog-title
	i18n>
	Edit user
</h1>
<mat-icon class="close-icon"
	      (click)="discard()"
		  matTooltip="Close"
		  i18n-matTooltip>
	close
</mat-icon>
<div mat-dialog-content
	 class="content">
	<form [formGroup]="userFormGroup"
		  class="editor-form">
		<mat-form-field>
			<mat-label i18n>
				Email
			</mat-label>
			<input matInput
				   [formControl]="userEmailFormControl">
		</mat-form-field>

		<mat-form-field>
			<mat-label i18n>
				First Name
			</mat-label>
			<input matInput
				   [formControl]="userFirstNameFormControl">
			<mat-error *ngIf="userFirstNameFormControl.hasError('required')"
					   i18n>
				First Name is required
			</mat-error>
		</mat-form-field>

		<mat-form-field>
			<mat-label i18n>
				Last Name
			</mat-label>
			<input matInput
				   [formControl]="userLastNameFormControl">
			<mat-error *ngIf="userLastNameFormControl.hasError('required')"
					   i18n>
				Last Name is required
			</mat-error>
		</mat-form-field>
	</form>
</div>
<div mat-dialog-actions>
	<button mat-stroked-button
			color="primary"
			type="submit"
			(click)="update()"
			[disabled]="buttonIsDisabled"
			i18n>
		Edit
	</button>
</div>
<finder-loader type="dialog"></finder-loader>
