<div class="details-container">
    <div class="header">
        <h1>
            {{searchOperation.title}}
        </h1>
        <mat-icon matRipple
                  [matMenuTriggerFor]="menu">
            more_horiz
        </mat-icon>
        <mat-menu #menu="matMenu">
            <button mat-menu-item
                    (click)="edit()"
                    *ngIf="showEditButton">
                <span i18n>
                    Edit
                </span>
            </button>
            <button mat-menu-item
                    (click)="!!searchOperation.chatUrl ? openChat() : createChat()"
                    *ngIf="!!searchOperation.chatUrl || showEditButton">
                @if (!!searchOperation.chatUrl) {
                    <span i18n>
                        Open chat
                    </span>
                } @else {
                    <span i18n>
                        Create chat
                    </span>
                }
            </button>
            <button mat-menu-item
                    (click)="downloadPdf()">
                <span i18n>
                    Download PDF
                </span>
            </button>
            <button mat-menu-item
                    (click)="downloadQr()">
                <span i18n>
                    Download QR Code
                </span>
            </button>
            <button mat-menu-item
                    [matMenuTriggerFor]="shareMenu">
                <span i18n>
                    Share
                </span>
            </button>
        </mat-menu>
        <mat-menu #shareMenu="matMenu">
            <button mat-menu-item
                    (click)="facebookShare()">
                <mat-icon>
                    <img src="assets/img/facebook.svg">
                </mat-icon>
                <span i18n>
                    Facebook
                </span>
            </button>
            <button mat-menu-item
                    (click)="twitterShare()">
                <mat-icon>
                    <img src="assets/img/twitter.svg">
                </mat-icon>
                <span i18n>
                    Twitter
                </span>
            </button>
            <button mat-menu-item
                    (click)="linkedinShare()">
                <mat-icon>
                    <img src="assets/img/linkedin.svg">
                </mat-icon>
                <span i18n>
                    LinkedIn
                </span>
            </button>
        </mat-menu>
    </div>
    <div class="images">
        <div class="main-image">
            <img [defaultImage]="getMainImage()?.imageThumbnailUrl || ''"
                 [lazyLoad]="getMainImage()?.imageUrl || ''">
        </div>
        <div class="additional-images">
            <div class="image"
                 *ngFor="let image of getSecondaryImages()"
                 matRipple>
                <img [defaultImage]="image.imageThumbnailUrl"
                     [lazyLoad]="image.imageUrl">
            </div>
        </div>
        <div class="d-flex flex-1"></div>
    </div>
    <div class="published"
         i18n>
        Published {{searchOperation.createdAt | date}}
    </div>
    <div class="tags">
        @for(tag of searchOperation.tags; track tag) {
            <div class="tag"
                 matRipple
                 (click)="selectTag(tag)">
                {{tag}}
            </div>
        }
    </div>
    <div class="body">
        <div class="description">
            {{searchOperation.description}}
        </div>
        <div class="additional">
            <div class="issuer">
                <img [defaultImage]="searchOperation.issuerImageThumbnail"
                     [lazyLoad]="searchOperation.issuerImage">
                <h4>
                    {{searchOperation.issuerName}}
                </h4>
            </div>
            <div class="applicants-block">
                <h3 i18n>
                    Already applied {{searchOperation.applicantsCount || 0}} people
                </h3>
            </div>
            <div class="divider"></div>
            <div class="applicate">
                @if (!searchOperation.isAlreadyApplied) {
                    <button mat-stroked-button
                            matRipple
                            (click)="apply()">
                        <span i18n>
                            Apply
                        </span>
                    </button>
                } @else {
                    <button mat-stroked-button
                            matRipple
                            [disabled]="true">
                        <span i18n>
                            You have already applied
                        </span>
                    </button>
                }
                <button mat-stroked-button
                        matRipple
                        (click)="contactOrganizer()">
                    <span i18n>
                        Contact organizer
                    </span>
                </button>
            </div>
        </div>
    </div>
    <div>
        &nbsp;
    </div>
</div>
