<div class="operations-container">
    <h1 i18n>
        Last operations
    </h1>
    <div class="items">
        @for (item of items; track item.id) {
            <div class="item"
                 matRipple>
                <div class="image">
                    <img [defaultImage]="getMainImage(item).imageThumbnailUrl"
                         [lazyLoad]="getMainImage(item).imageUrl">
                </div>
                <h1 i18n>
                    {{ item.title }}
                </h1>
                <span i18n>
                    {{ getDescription(item) }}
                </span>
                <div class="applicants">
                    <mat-icon>
                        person
                    </mat-icon>
                    <span i18n>
                        Responded: &nbsp;
                    </span>
                    <span>
                        {{ item.applicantsCount || 0 }}
                    </span>
                </div>
            </div>
        }
    </div>
    <div class="add-button"
         matRipple
         matTooltip="Create Search Operation"
         i18n-matTooltip
         (click)="createSearchOperation()">
        <mat-icon>
            add
        </mat-icon>
    </div>
</div>
