@import 'src/styles/variables.scss';

.app-container {
	display: flex;
	flex-direction: row;
	height: 100vh;
	width: 100vw;
	overflow-x: hidden;

	.header {
		display: flex;
		flex-direction: row;
		box-shadow: 0px 1px 1px 0px #0000000d;
		box-shadow: 0px 2px 5px 0px #32326926;
		background-color: white;
		height: 76px;
		width: calc(100vw - 64px);
		position: absolute;
		padding: 24px 32px 24px 32px;
		gap: 10px;

		.logo {
			display: flex;
			flex-direction: row;
			align-items: center;
			border-radius: 10px;
			cursor: pointer;

			img {
				height: 64px;
				width: 64px;
			}

			h1 {
				font-family: Fixel Display;
				font-size: 32px;
				font-weight: 600;
				line-height: 44.16px;
				text-align: center;
				margin: 0;
			}
		}

		.toolbar-right-side {
			margin-left: auto;
			display: flex;
			flex-direction: row;
			align-items: center;
			transition: all 225ms ease-in-out;

			mat-icon {
				font-size: 36px;
				height: 36px;
				width: 36px;
				cursor: pointer;
				border-radius: 100%;
				margin-right: 26px;
			}

			.user-info {
				padding: 8px 28px 8px 28px;
				border-radius: 100px;
				cursor: pointer;
				box-shadow: 0px 2px 8px 0px #00000026;
				display: flex;
				flex-direction: row;
				align-items: center;
				justify-content: center;

				img {
					height: 60px;
					width: 60px;
					border-radius: 100%;
				}
			}
		}
	}

	.app-content-wrapper {
		display: flex;
		flex-direction: column;
		flex: 1;
		overflow-x: hidden;
		transition: all 225ms ease-in-out;
		height: calc(100vh - 124px);
		position: absolute;
		top: 124px;
		width: calc(100vw - 64px);
		left: 0;
		transition: all 225ms ease-in-out;
		padding: 32px;

		.app-content {
			display: flex;
			flex: 1;
			overflow-y: auto;
			transition: all 225ms ease-in-out;

			&.transparent {
				background-color: transparent;
				padding: 0;
				margin: 0;
				border-radius: 0;
				height: calc(100vh - 48px);
			}
		}

		.router-content {
			display: flex;
			flex-direction: column;
			flex: 1;
		}
	}

	.installed-app-buttons-container {
		position: absolute;
		width: 100vw;
		height: 64px;
		bottom: -64px;
		background-color: $first-additional-color;
		align-items: center;
		transition: all 225ms ease-in-out;

		.installed-app-buttons {
			height: 44px;
			margin-top: 10px;
			padding-top: 10px;
			margin-left: 10px;
			margin-right: 10px;
			padding-right: 20px;
			padding-left: 20px;
			border-top-right-radius: 10px;
			border-top-left-radius: 10px;
			background-color: $third-additional-color;
			display: flex;
			flex-direction: row;
			justify-content: space-between;
		}
	}
}

.logout {
	color: #E63946;
}
