<div class="app-container">
    <div class="header">
        <div class="logo"
             matRipple
             matTooltip="Home"
             i18n-matTooltip
             (click)="goToHome()">
            <img src="assets/img/logo.svg"
                 alt="App Logo"
                 i18n-alt>
                 <h1 i18n>
                    FindGuard
                 </h1>
        </div>
        <div class="toolbar-right-side">
            <mat-icon [matMenuTriggerFor]="languageMenu" 
                      matTooltip="Language"
                      i18n-matTooltip
                      matRipple>
                language
            </mat-icon>
            <div *ngIf="userName" 
                 class="user-info"
                 matRipple
                 [matMenuTriggerFor]="menu" >
                <mat-icon>
                    menu
                </mat-icon>
                <img [src]="avatarUrl"
                     alt="User Avatar"
                     i18n-alt>
            </div>
            <mat-menu #menu="matMenu">
                <button mat-menu-item
                        *ngIf="showUsers || showRoles"
                        [matMenuTriggerFor]="adminMenu">
                    <span i18n>
                        Admin
                    </span>
                </button>
                <button mat-menu-item 
                        (click)="goToProfileDetails()">
                    <span i18n>
                        Profile Details
                    </span>
                </button>
                <button mat-menu-item 
                        (click)="profileDialog()">
                    <span i18n>
                        Settings
                    </span>
                </button>
                <button mat-menu-item 
                        (click)="goToNotifications()">
                    <span i18n>
                        Notifications
                    </span>
                </button>
                <button mat-menu-item
                        (click)="changePasswordDialog()">
                    <span i18n>
                        Change password
                    </span>
                </button>
                <button mat-menu-item
                        (click)="logout($event)"
                        class="logout">
                    <span i18n>
                        Logout
                    </span>
                </button>
            </mat-menu>
            <mat-menu #adminMenu="matMenu">
                <button mat-menu-item
                        *ngIf="showUsers"
                        (click)="goToUsers()">
                    <span i18n>
                        Users
                    </span>
                </button>
                <!-- <button mat-menu-item
                        *ngIf="showRoles"
                        (click)="goToRoles()">
                    <span i18n>
                        Roles
                    </span>
                </button> -->
            </mat-menu>
            <mat-menu #languageMenu="matMenu">
                <button mat-menu-item
                        (click)="changeLanguage('en-US')"
                        class="language-button"
                        [disabled]="selectedLocale === 'en-US'">
                    <span i18n>
                        English
                    </span>
                </button>
                <button mat-menu-item
                        (click)="changeLanguage('de-DE')"
                        class="language-button"
                        [disabled]="selectedLocale === 'de-DE'">
                    <span i18n>
                        German
                    </span>
                </button>
                <button mat-menu-item
                        (click)="changeLanguage('fr-FR')"
                        class="language-button"
                        [disabled]="selectedLocale === 'fr-FR'">
                    <span i18n>
                        French
                    </span>
                </button>
                <button mat-menu-item
                        (click)="changeLanguage('es-ES')"
                        class="language-button"
                        [disabled]="selectedLocale === 'es-ES'">
                    <span i18n>
                        Spanish
                    </span>
                </button>
                <button mat-menu-item
                        (click)="changeLanguage('it-IT')"
                        class="language-button"
                        [disabled]="selectedLocale === 'it-IT'">
                    <span i18n>
                        Italian
                    </span>
                </button>
                <button mat-menu-item
                        (click)="changeLanguage('ja-JP')"
                        class="language-button"
                        [disabled]="selectedLocale === 'ja-JP'">
                    <span i18n>
                        Japanese
                    </span>
                </button>
                <button mat-menu-item
                        (click)="changeLanguage('uk-UA')"
                        class="language-button"
                        [disabled]="selectedLocale === 'uk-UA'">
                    <span i18n>
                        Urkainian
                    </span>
                </button>
            </mat-menu>
        </div>
    </div>
    <div class="app-content-wrapper">
        <div class="app-content"
             [class.transparent]="isContentTransparent">
            <div class="router-content">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
    <div class="installed-app-buttons-container">
        <div class="installed-app-buttons">
            <button mat-stroked-button
                    matTooltip="Go Back"
                    i18n-matTooltip
                    (click)="goBack()">
                <mat-icon>
                    arrow_back
                </mat-icon>
                <span i18n>
                    Back
                </span>
            </button>
            <button mat-stroked-button
                    matTooltip="Go Forward"
                    i18n-matTooltip
                    (click)="goForward()">
                <span i18n>
                    Forward
                </span>
                <mat-icon>
                    arrow_forward
                </mat-icon>
            </button>
        </div>
    </div>
    
</div>
