<h1 mat-dialog-title 
	align='start'
	i18n>
	Forgot password ?
</h1>
<mat-icon class="close-icon"
	      (click)="discard()"
		  matTooltip="Close"
		  i18n-matTooltip>
	close
</mat-icon>
<div mat-dialog-content
	 class="content">
	 <span i18n>
		We will send a password reset letter to your email
	 </span>
	<form [formGroup]="userFormGroup" 
		  class="editor-form">
		<mat-form-field class="form-field">
			<mat-label i18n>
				Email
			</mat-label>
			<input matInput 
				   [formControl]="userEmailFormControl">
			<mat-error *ngIf="userEmailFormControl.errors?.['required']"
					   i18n>
				Email is required
			</mat-error>
			<mat-error *ngIf="userEmailFormControl.errors?.['email']"
					   i18n>
				Invalid email
			</mat-error>
		</mat-form-field>
	</form>
</div>
<div mat-dialog-actions 
	 align='center'
	 class="actions">
	<div class="reset-btn" 
		 [matTooltip]="getErrorMessage()">
		<button mat-stroked-button 
				color="primary" 
				type="submit" 
				[disabled]="userFormGroup.invalid"
				(click)="resetPassword()"
				i18n>
			Send
		</button>
	</div>
</div>
<finder-loader type="dialog"></finder-loader>
